@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


div, h1, span , img {
    animation: fade-down 0.5s;
}
  
@keyframes fade-down {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
     }
     100% {
        opacity: 1;
        transform: translateY(0) scale(1);
     }
}